{% extends "/base.html.twig" %}

{% block title %}Workout generator {% endblock %}

{% block body %}
    <h1>Generate a workout</h1>
    <div class="container">
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>










{#    {% if generatedMovement is not null %}#}
{#        {{ include('/admin/partials/movement.html.twig', { 'generatedMovement': generatedMovement }) }}#}
{#    {% endif %}#}
{% endblock %}
